*{
    margin: 0;
    padding: 0;
}
#navbar{
    background-color: #0f1111;
    height: 66px;
}
a{
    margin-right: 200px;
    color: white;
    text-decoration: none;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
#div1{
    height: 100px;
    width: 100px;
    border: 2px solid cornflowerblue;
    background-color: rgba(255, 0, 0, 0.5);
    display: inline-block;
}
#div2{
    height: 100px;
    width: 100px;
    border: 2px dashed cornflowerblue;
    background-color: rgba(0, 255, 0, 0.5);
    display: inline-block;
}
#div3{
    height: 100px;
    width: 100px;
    border: 2px solid cornflowerblue;
    background-color: rgba(0, 0, 255, 0.5);
    display: inline-block;
}
main{
    height: 600px;
}
    
footer {
    background-color: rgba(235, 89, 5, 0.287);
}
#div1, #div2, #div3 {
    vertical-align: top;
}